<?xml version="1.0" encoding="UTF-8"?>
<package abbrev="@name@" name="@url@" spec="1.0" version="@version@"
    xmlns="http://expath.org/ns/pkg">
    <title>@title@</title>
    <dependency processor="http://exist-db.org" semver-min="5.0.0"/>
    <xquery>
        <namespace>http://joewiz.org/ns/xquery/airtable</namespace>
        <file>airtable.xqm</file>
    </xquery>
</package>
